version: "3.3"
services:
  bookshelfhome:
    image: bookshelfhome
    container_name: bookshelfhome
    ports:
      - 8093:8093
      - 5555:5555
    volumes:
      - data:/app/prisma
    restart: unless-stopped

volumes:
  data: