.bookbg {
    background-image: url("/books.png");
    background-position: center;
    background-size: cover;
    mix-blend-mode: overlay;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

    width: 100%;
    height: 24rem;
    top: 0px;
    position: absolute;
  }

  @media (min-width: 640px) {
    .bookbg {
        background-size: auto;
    }
}